@font-face {
    font-family: 'head';
    src:url('SCRIPTIN.ttf');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-family: 'head';
  text-align: center;
  font-size: 6em;
  z-index: -1;
}





.story {
  display: none;
}
.writing {
  margin: 10px auto;
  width: 80%;
  padding: 25px;
}
.writing p {
  text-indent: 50px;
}

#blanks {
  padding: 25px;
  margin: 0px auto 0 auto;
  border: 1px solid black;
  width: 80%;
}

.journys input {
  width: 451px;
}


.hero {
  font-family: 'head';
  font-size: 1.5em;
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px yellow;
}
.character1 {
  font-weight: bold;
}
.character2 {
  font-weight: bold;
}
.journey {
  color: orange;
}
.quest {
  
}
.destiny {
  font-style: italic;
  color: blue;
}
.ability {
  text-decoration: underline;
}
